<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

<div class="container max-w-full mx-auto md:py-24 px-6">
  <div class="max-w-sm mx-auto px-6 border-2 bg-gray-100 rounded-lg">
    <div class="relative flex flex-wrap">
      <div class="w-full relative">
        <div class="md:mt-6">
          <div class="flex justify-center mb-8">
            <img src="assets/images/logo-old.png">
          </div>
          <div class="text-center font-semibold text-black">
            Legend Online - Gerador de URL Corrigida
          </div>
          <div class="text-center font-base text-black">
            Converta a URL com erro em um click.
          </div>

          <form class="mt-8 mb-8">
            <div class="mx-auto max-w-lg ">
              <div class="py-1">
                <span class="px-1 text-sm text-gray-600">URL com erro:</span>
                <input
                  placeholder=""
                  type="text"
                  name="url"
                  id="url"
                  [(ngModel)]="url"
                  class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
              </div>

              <button
                type="submit"
                (click)="generateUrl()"
                class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                Gerar
              </button>

            </div>
            <div class="mx-auto max-w-lg mt-4 ">
              <div class="py-1">
                <span class="px-1 text-sm text-gray-600">URL corrigida:</span>
                <textarea
                  placeholder=""
                  name="url-ok"
                  id="url-ok"
                  rows="6"
                  disabled
                  class="resize-none text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">{{ decodedUrl }}</textarea>
              </div>

              <div class="grid grid-cols-2 gap-2">
                <button
                  (click)="copyUrl()"
                  class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                  Copiar
                </button>
                <button
                  (click)="redirect()"
                  class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                  Abrir link
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-12">
    <span class="text-gray-200">
      &copy; {{ year }} Dominus Dev - Todos Direitos Reservados.
    </span>
  </div>
</div>
