<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

<div class="container max-w-full mx-auto md:py-8 px-6">
  <div class="max-w-sm mx-auto px-6 border-2 bg-gray-100 rounded-lg">
    <div class="relative flex flex-wrap">
      <div class="w-full relative">
        <div class="md:mt-6">
          <div class="flex justify-center mb-8">
            <img src="assets/images/logo-old.png">
          </div>
          <div class="text-center font-semibold text-black">
            Legend Online - Gerador de URL
          </div>
          <div class="text-center font-base text-black">
            Insira os dados para gerar a URL dos Eventos de Equipe e Convite em um click.
          </div>

          <form #legendForm="ngForm" class="mt-2 mb-8">
            <div class="mx-auto max-w-lg">
              <div class="py-1 grid grid-cols-2 gap-2">
                <div>
                  <span class="px-1 text-sm text-gray-600">SID: <span class="text-red-600">*</span></span>
                  <span *ngIf="legendForm.submitted && !legendForm.controls.sid.valid" class="text-red-500 text-xs mt-1">{{ msgError }}</span>
                  <input
                    placeholder=""
                    type="text"
                    name="sid"
                    id="sid"
                    [(ngModel)]="sid"
                    required
                    class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                </div>
                <div>
                  <span class="px-1 text-sm text-gray-600">UD: <span class="text-red-600">*</span></span>
                  <span *ngIf="legendForm.submitted && !legendForm.controls.ud.valid" class="text-red-500 text-xs mt-1">{{ msgError }}</span>
                  <input
                    placeholder=""
                    type="text"
                    name="ud"
                    id="ud"
                    [(ngModel)]="ud"
                    required
                    class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                </div>
                <div>
                  <span class="px-1 text-sm text-gray-600">ShareUID: <span class="text-red-600">*</span></span>
                  <span *ngIf="legendForm.submitted && !legendForm.controls.shareUid.valid" class="text-red-500 text-xs mt-1">{{ msgError }}</span>
                  <input
                    placeholder=""
                    type="text"
                    name="shareUid"
                    id="shareUid"
                    required
                    [(ngModel)]="shareuid"
                    class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                </div>
                <div>
                  <span class="px-1 text-sm text-gray-600">UM: <span class="text-red-600">*</span></span>
                  <span *ngIf="legendForm.submitted && !legendForm.controls.um.valid" class="text-red-500 text-xs mt-1">{{ msgError }}</span>
                  <input
                    placeholder=""
                    type="text"
                    name="um"
                    id="um"
                    [(ngModel)]="um"
                    required
                    class="text-md block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                </div>
              </div>
              <div class="px-1 grid grid-cols-2 gap-2">
                <button
                  type="submit"
                  (click)="generateUrls(legendForm)"
                  class="mt-3 text-sm font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                  Gerar
                </button>
                <button
                  type="submit"
                  (click)="legendForm.reset()"
                  class="mt-3 text-sm font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                  Limpar
                </button>
              </div>

              <div class="mx-auto max-w-lg mt-4">
                <div class="py-1">
                  <span class="px-1 text-sm text-gray-600">URL Equipe:</span>
                  <button (click)="copyTeam()" class="rounded hover:text-white hover:bg-black">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                    </svg>
                  </button>
                  <span *ngIf="msgTeam !== ''" class="m-4 text-green-500 text-xs mt-1">{{ msgTeam }}</span>
                  <span *ngIf="msgTeam1 !== ''" class="m-4 text-red-500 text-xs mt-1">{{ msgTeam1 }}</span>
                  <textarea
                    placeholder=""
                    name="urlTeam"
                    id="urlTeam"
                    rows="5"
                    disabled
                    [value]="urlTeam"
                    [(ngModel)]="urlTeam"
                    class="resize-none text-sm block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none"></textarea>

                  <span class="px-1 text-sm text-gray-600">URL Convite:</span>
                  <button (click)="copyInvite()" class="rounded hover:text-white hover:bg-black">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                    </svg>
                  </button>
                  <span *ngIf="msgInvite !== ''" class="m-4 text-green-500 text-xs mt-1">{{ msgInvite }}</span>
                  <span *ngIf="msgInvite1 !== ''" class="m-4 text-red-500 text-xs mt-1">{{ msgInvite1 }}</span>
                  <textarea
                    placeholder=""
                    name="urlInvite"
                    id="urlInvite"
                    rows="5"
                    disabled
                    [value]="urlInvite"
                    [(ngModel)]="urlInvite"
                    class="resize-none text-sm block px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none"></textarea>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center md:mt-4">
    <span class="text-gray-200">
      &copy; {{ year }} Dominus Dev - Todos Direitos Reservados.
    </span>
  </div>
</div>
